
postgres_data/

# --- Environment Variables ---
.env
.venv
venv/
__pycache__/
*.pyc

# --- Docker ---
.docker/
*.log

# --- IDEs & OS ---
.vscode/
.idea/
.DS_Store
Thumbs.db

# --- SQL Dumps ---
*.sql.gz
dump.sql